<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Concert</title>
</head>
<body>
    <h1>Add Concert</h1>
    <!-- add form for adding concert-->
     <form action="/concerts"medthod="post">
        <label>title:</label> <br>
        <input type="text"name="title"><br>
        <label>performer:</label> <br>
        <input type="text"name="performer"><br>
        <label>date(yyyy-MM-DD):</label> <br>
        <input type="text"name="date"><br>
        <label>description:</label> <br>
        <input type="text"name="description"></textarea><br><br>
        <input type="submit"value="save concert">        
     </form>

</body>
</html>