<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert List</title>
</head>
<body>
    <h1>Concert List</h1>
    <a href="/add-concert/">Add Concert</a>
    <!-- TODO: show delete link for each concert -->
    <a href="/delete-concert/">Delete Add Concert</a>
    <!-- TODO: Add list of concerts -->
     <br><br>
     <table border="1">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>performer</th>
            <th>date</th>
            <th>description</th>
            <th>action</th>
            <th>id</th>
        </tr>
        <tr th:each="concert:${concerts}">
            <td th:text="${concert.id}">1</td>
            <td th:text="${concert.title}">sample title</td>
            <td th:text="${concert.performer}">performer</td>
            <td th:text="${concert.date}"></td>
            <td th:text="${concert.description}">sample description</td>
            <td><a <td th:hreh="@{'/delete-concert/'+${concert.id}}">delete<a></a>
            
            </td>
        </tr>
     </table>

</body>
</html>
